{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
{% endblock %}

{% block extra_title %} | Bag {% endblock %}

{% block page_header %}
<div class="container-fluid header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col text-center">
            <h1>
                <strong> Your Shoping Bag </strong>
            </h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="bag-container col-10 pb-4 offset-1">
            {% if bag_items %}
                {% include 'bag/includes/bag-info.html' %}
            {% else %}
                <div class="row">
                    <div class="col text-center">
                        <p class="display-5 mb-5">Your bag is empty.</p>
                        <a href="{% url 'supplies' %}" class="btn action-button-secondary" aria-label="keep shopping button">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</div>
<div class="d-block d-lg-none top-button-container shadow-sm rounded-0">
    <button class="btn btn-top d-flex h-100 rounded-0 bg-accent" aria-label="go to top button">
        <i class="fas fa-arrow-up text-black mx-auto my-auto text-white"></i>
    </button>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'supplies/includes/incremental-inputs-jquery.html' %}
<script type="text/javascript">
    $('.btn-top').click(function (e) {
        window.scrollTo({
            top: 0,
            left: 0,
            behavior: "smooth",
        });
    });
</script>

<script type="text/javascript">

    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).closest('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('-')[1];
        var date = $(this).data('renting-date');
        var days = $(this).data('renting-days');
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'start_renting_date': date,
            'renting_days': days
        };
        $.post(url, data)
            .done(function () {
                location.reload();
            });
    });
</script>
{% endblock %}