<nav aria-label="breadcrumb" class="supplies-nav">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'supplies' %}">
          <h2 class="text-dark display-5">Supplies <small> ({{ supplies_count }}) </small></h2>
        </a>
    </li>
    {% if search_term %}
      <li class="breadcrumb-item text-dark" aria-current="page">
       <strong>{{ search_term }}</strong>
      </li>
    {% endif %} 
    {% if category_slug %}
      <li class="breadcrumb-item text-dark" aria-current="page">
        <strong>{{ category_slug }}</strong>
      </li>
    {% endif %} 
  </ol>
</nav>