{% extends "base.html" %}

{% load static %}

{% block page_header %}
<div class="container-fluid header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid" id="hero">
    <div class="row text-center h-100">
        <div class="col-12  d-flex flex-column justify-content-end">
            <div>
                <h1 class="display-6 text-uppercase">
                    Event Supply Rentals Made Easy
                </h1>
                <p class="lead">– Decor, Furniture & More</p>
                <div class="my-5">
                    <a href="#" class="action-button btn btn-lg py-3"><strong>Discover</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}