{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100" id="hero">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 text-uppercase">
                    Event Supply Rentals Made Easy – Decor, Furniture & More
                    <p class="lead"></p>
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="action-button btn btn-lg py-3">Discover</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}