/* Global Variables */
:root {
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --primary-color: #4ecdc4;
  /* Teal */
  --secondary-color: #ff6b6b;
  /* Coral */
  --highlight-color: #f7f1e3;
  /* Light Beige */
  --highlight-color-light: #fff;
  /* White */
  --dark-color: #292f34;
  /* black */
}

/* Global styles */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--secondary-font, sans-serif), sans-serif;
  color: var(--dark-color);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2 {
  font-family: var(--primary-font, sans-serif), sans-serif;
  color: var(--primary-color);
  font-size: large;
}

h3 {
  font-family: var(--primary-font, sans-serif), sans-serif;
  color: var(--primary-color);
  font-size: medium;
}

.lead {
  color: var(--primary-color);
}

.action-button {
  background-color: var(--primary-color);
  color: var(--dark-color);
  border: 2px solid var(--primary-color);
  font-size: medium;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.action-button-secondary {
  background-color: transparent;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 0;
  font-size: medium;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.action-button:hover {
  color: var(--primary-color) !important;
  background-color: transparent;
}

.action-button-secondary:hover {
  color: var(--highlight-color-light)!important;
  background-color: var(--secondary-color);
}

.hide {
  display: none;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-accent {
  color: var(--secondary-color);
}

.border-accent {
  border-color: var(--secondary-color) !important;
}

.border-light {
  border-color: var(--highlight-color) !important;
}

.bg-light {
  background-color: var(--highlight-color) !important;
}

.bg-dark {
  background-color: var(--dark-color) !important;
}

.bg-accent {
  background-color: var(--secondary-color) !important;
}

.input-dark,
.input-dark:focus {
  background: transparent;
  color: var(--highlight-color-light) !important;
}

.input-dark::placeholder {
  color: var(--highlight-color-light);
  opacity: 1; /* Firefox */
}

.input-dark::-ms-input-placeholder {
  /* Edge 12-18 */
  color: var(--highlight-color-light);
}

.underline {
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 11%;
  height: 2px;
  background-color: var(--primary-color);
}

.nav-item,
.nav-link {
  cursor: pointer;
}

/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.top-button-container {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.btn-top {
    cursor: pointer;
}

#main-content {
  flex: 1;
}

.accounts-menu .dropdown-item:hover {
  background-color: var(--secondary-color);
  color: var(--highlight-color-light);
}
/* navbar */
.navbar-container {
  background-color: var(--dark-color);
  color: var(--highlight-color-light);
  box-shadow: 11px 2px 5px #e3e2e291;
}

.navbar-container .navbar {
  align-items: baseline;
  padding-top: 1rem;
}

.navbar-toggler,
.navbar-toggler:focus {
  outline: unset !important;
  flex-grow: 2;
  text-align: left;
}

#main-nav .nav-item .nav-link {
  color: var(--highlight-color-light);
}

#main-nav .nav-item .nav-link:hover {
  text-decoration-line: underline;
  text-decoration-color: var(--secondary-color);
  text-decoration-thickness: 4px;
  -moz-text-decoration-line: underline;
}

#main-nav .nav-item .dropdown-menu {
  background-color: var(--dark-color);
}

#main-nav .nav-item .dropdown-item {
  color: var(--highlight-color-light);
}

#main-nav .nav-item .dropdown-item:hover {
  background-color: var(--secondary-color);
}

/* header */
.header-container {
  padding-top: 70px;
}

.other-categories-menu ul {
  list-style: none;
}

/* footer */
.social-media .text-accent:hover {
  color: var(--primary-color);
}

/* Homepage */
#hero {
  background: linear-gradient(179deg, rgb(3 3 3 / 31%), rgb(0 0 0 / 85%)),
    url(/media/rent-event-stuff-baner.gif);
  background-size: cover;
  background-position: center bottom;
  height: 80vh;
}

/* accounts */
.accounts-container {
  border: 2px solid #ebebeb !important;
  box-shadow: 10px 10px 12px #dbdbdba8;
  border-radius: 0;
  width: 100%;
  margin: auto;
}

.accounts-container .accounts-form label {
  display: none;
}

.accounts-container .accounts-form label[for="id_remember"] {
  display: inline-block;
}

.accounts-container .accounts-form input {
  width: 90%;
  border: 1px solid #d3d3d3;
  padding: 0.5rem;
}

.accounts-container .accounts-form input[type="checkbox"] {
  width: 5% !important;
  border: 1px solid #d3d3d3;
  accent-color: var(--secondary-color);
}

.accounts-container .accounts-form input:focus {
  border: 1px solid #d3d3d3;
  border-bottom: 2px solid var(--secondary-color);
  border-radius: 0;
  outline: none;
}

.accounts-container .accounts-form .errorlist {
  list-style: none;
  padding: unset;
  color: red;
}

/* Media Queries */
/* medium screen and up */
@media (min-width: 992px) {
  /* global variables */
  h1 {
    font-size: xx-large;
  }

  .lead {
    font-size: larger;
  }

  /* navbar */
  .navbar-container {
    background-color: var(--highlight-color);
    color: var(--dark-color);
  }

  #main-nav .nav-item .nav-link {
    color: var(--dark-color);
  }

  #main-nav .nav-item .dropdown-menu {
    background-color: var(--highlight-color);
  }

  #main-nav .nav-item .dropdown-item {
    color: var(--dark-color);
  }

  #main-nav .nav-item .dropdown-item:hover {
    background-color: var(--secondary-color);
    color: var(--highlight-color-light);
  }

  /* header */
  .header-container {
    padding-top: 130px;
  }
  .other-categories-menu .dropdown-divider {
    border-color: var(--dark-color)!important;
  }
  /* accounts */
  .accounts-container {
    width: 40%;
  }
  .accounts-container .accounts-form input {
    width: 75%;
  }
}
