<div id="mc_embed_shell" class="mailchimp-container">    
    <div id="mc_embed_signup w-100">
        <form
            action="https://herokuapp.us6.list-manage.com/subscribe/post?u=f71a9d8ef48d643d980b85cf9&amp;id=98105ae6f9&amp;f_id=00231ae2f0"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank">
            <div id="mc_embed_signup_scroll">
                <div id="mce-responses" class="clear foot">
                    <div class="response text-accent" id="mce-error-response" style="display: none;"></div>
                    <div class="response text-primary" id="mce-success-response" style="display: none;"></div>
                </div>
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                    <!--  real people should not fill this in and expect good things - do not remove this or risk form bot
                    signups -->
                    <input type="text" name="b_f71a9d8ef48d643d980b85cf9_98105ae6f9" tabindex="-1" value="">
                </div>
                <div class="mc-field-group input-group w-100">
                      <input class="required email form-control border border-accent input-dark rounded-0" type="email"
                        placeholder="Enter your email" name="EMAIL" id="mce-EMAIL" required="" value="">
                      <div class="input-group-append">
                        <button class="button btn action-button-secondary m-0 py-0" id="mc-embedded-subscribe" 
                        type="submit" aria-label="Subscribe now"
                        data-toggle="tooltip" data-placement="bottom" title="Click to subscribe">
                          <span class="icon">
                            <i class="fas fa-paper-plane"></i>
                          </span>
                        </button>
                      </div>
                    </div>
            </div>
        </form>
    </div>
</div>