<div class="collapse navbar-collapse justify-content-between px-3" id="main-nav">
    <ul class="navbar-nav w-auto">
        <li class="nav-item dropdown mr-0 mr-lg-1">
            <a class="font-weight-bold nav-link" href="#" id="all-supplies-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                All Supplies
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-supplies-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'supplies' %}" class="dropdown-item">All Supplies</a>
            </div>
        </li>

        {% for cat in top_categories %}
        <li class="nav-item dropdown mr-0 mr-lg-1">
            <a class="font-weight-bold nav-link"
            id="{{ cat.slug }}-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{ cat.name }}
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="{{ cat.slug }}-link">
                {% for sub in cat.subcategories.all %}
                <a href="{% url 'supplies' %}?category={{ sub.slug }}" class="dropdown-item">{{ sub.name }}</a>
                {% endfor %}
                
                <a  href="{% url 'supplies' %}?category={{ cat.slug }}" class="dropdown-item">All {{ cat.name }}</a>
            </div>
        </li>
        {% endfor %}
        {% if other_categories %}
        <li class="nav-item dropdown mr-0 mr-lg-1">
            <a class="font-weight-bold nav-link" href="#" id="other-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                others
            </a>
            <div class="dropdown-menu border-0 other-categories-menu" aria-labelledby="other-link">
                    {% for cat in other_categories %}
                        <a  href="{% url 'supplies' %}?category={{ cat.slug }}"
                         class="dropdown-item">
                         <strong>{{ cat.name }}</strong>
                        </a>
                        {% if cat.subcategories.all %}
                            <ul>
                                {% for sub in cat.subcategories.all %}
                                    {% if sub.supply_set.count > 0 %}
                                        <li class="nave-item">
                                            <a  href="{% url 'supplies' %}?category={{ sub.slug }}"
                                             class="nav-link">{{ sub.name }}</a>
                                        </li>
                                    {% endif %}
                               {% endfor %}
                            </ul>
                        {% endif %}
                        {% if not forloop.last %}
                          <div class="dropdown-divider w-75 mx-1 mx-lg-auto border-white"></div>
                        {% endif %}
                    {% endfor %}
            </div>
        </li>
        {% endif %}
        <li class="nav-item d-block d-lg-none">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'home' %}">
                Home
            </a>
        </li>
    </ul>
    <div class="d-block d-lg-inline-block">
        <h3 class="display-6 text-accent my-1 pr-3">Free delivery on orders over ${{ free_shipping_threshold }}!</h3>
    </div>
</div>