<p class="text-muted">Please fill out the form below to complete your order</p>
<form action="{% url 'checkout' %}" method="POST" id="payment-form">
    {% csrf_token %}
    <fieldset class="rounded mb-5">
        <legend class="fieldset-label small text-black  w-auto">Details</legend>
        {{ order_form.full_name | as_crispy_field }}
        {{ order_form.email | as_crispy_field }}
    </fieldset>
    <fieldset class="rounded mb-5">
        <legend class="fieldset-label small text-black  w-auto">Delivery</legend>
        {{ order_form.phone_number | as_crispy_field }}
        {{ address_form.country | as_crispy_field }}
        {{ address_form.postcode | as_crispy_field }}
        {{ address_form.town_or_city | as_crispy_field }}
        {{ address_form.street_address1 | as_crispy_field }}
        {{ address_form.street_address2 | as_crispy_field }}
        {{ address_form.county | as_crispy_field }}
        <div class="form-check form-check-inline float-right mr-0 ml-1">
            {% if user.is_authenticated %}
            <label class="form-check-labe mr-1" for="id-save-info">Save this delivery information to my profile</label>
            <input type="checkbox" class="form-check-input ml-2 mr-0" data-toggle="toggle" 
            data-on="" data-off="" data-width="50" data-height="20"
            data-onstyle="success" data-offstyle="secondary"
             id="id-save-info" name="save-info" checked>
            {% else %}
            <label class="form-check-label" for="id-save-info">
                <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
            </label>
            {% endif %}
        </div>
    </fieldset>
    <fieldset class="">
        <legend class="fieldset-label small text-black w-auto">Payment</legend>
        <!-- A Stripe card element will go here -->
        <div class="mb-3 card-element"></div>
        <!-- Used to display form errors -->
        <div class="mb-3 text-danger card-errors" role="alert"></div>
    </fieldset>
    <div class="submit-button text-right mt-5 mb-2">
        <a href="{% url 'view_bag' %}" class="btn action-button-secondary px-4 px-md-2">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="font-weight-bold">Adjust Bag</span>
        </a>
        <button id="submit-button" class="btn action-button mt-2 mt-md-0">
            <span class="font-weight-bold">Complete Order</span>
            <span class="icon">
                <i class="fas fa-lock"></i>
            </span>
        </button>
        <p class="small text-danger my-0">
            <span class="icon">
                <i class="fas fa-exclamation-circle"></i>
            </span>
            <span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
        </p>
    </div>
</form>