{% extends "base.html" %}

{% block extra_title %} | Email Activation {% endblock %}

{% load static %}

{% block page_header %}
<div class="container-fluid header-container mt-5 mt-lg-2">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-12 py-5">
            <div class="accounts-container py-4">
                <h1>Confirm E-mail Address</h1>

                {% if confirmation %}

                {% with user_display=confirmation.email_address.user %}

                <p>
                    Please confirm that 
                    <a href="mailto:{{ confirmation.email_address.email }}" class="text-accent">
                        {{ confirmation.email_address.email }}
                    </a> 
                    is an e-mail address for user {{ user_display }}.
                </p>


                {% endwith %}

                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                    <button type="submit" class="btn action-button">Confirm</button>
                </form>

                {% else %}

                <p>This e-mail confirmation link expired or is invalid. Please 
                    <a href="{% url 'account_email' %}"  class="text-info">
                        issue a new e-mail confirmation request.
                    </a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}