{% extends "base.html" %}

{% load i18n %}

{% block extra_title %} | Signin {% endblock %}

{% load static %}

{% block page_header %}
<div class="container-fluid header-container mt-5 mt-lg-2">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row text-center">
    <div class="col-12 py-5">
      <div class="accounts-container py-4">

        <h1 class="p-3">Sign In</h1>

        <form class="accounts-form" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <p><a class="button text-accent" href="{% url 'account_reset_password' %}">Forgot Password?</a></p>
          <button type="submit" class="w-75 btn btn-lg action-button">Sign In</button>
        </form>

        <div class="py-2">
          <p class="text-accent"><strong> Or </strong></p>
          <p><button class="w-75 btn btn-lg action-button">Register with Facebook</button></p>
          <p><button class="w-75 btn btn-lg action-button-secondary">Register with Google</button></p>
        </div>

        <p class="w-75 mx-auto">If you have not created an account yet, then please
          <a href="{{ signup_url }}" class="text-primary"><strong>sign up</strong></a> first.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}