{% extends "base.html" %}

{% load i18n %}

{% block extra_title %} | Change Password {% endblock %}

{% load static %}

{% block page_header %}
<div class="container-fluid header-container mt-5 mt-lg-2">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-12 py-5">
            <div class="accounts-container py-4">

                <h1 class="p-3">Change Password</h1>

                <form method="POST" action="{% url 'account_change_password' %}" class="accounts-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-lg action-button" name="action">Change Password</button>
                    <a href="{% url 'account_reset_password' %}" class="text-primary">Forgot Password?</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}