{% extends "base.html" %}

{% load i18n %}

{% block extra_title %} | Signup {% endblock %}

{% load static %}

{% block page_header %}
<div class="container-fluid header-container mt-5 mt-lg-2">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row text-center">
    <div class="col-12 py-5">
      <div class="accounts-container py-4">
        <h1 class="p-3">Sign Up</h1>

        <form class="accounts-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="w-75 btn btn-lg action-button">Sign Up</button>
        </form>
        {% include "socialaccount/snippets/provider_list.html" %}
         <p class="w-75 mx-auto">Already have an account? Then please <a href="{% url 'account_login' %}" class="text-primary"><strong>sign in</strong></a>.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}