<div class="my-3">
    <div class="d-flex flex-column align-items-start align-items-lg-end">
        <h6>
            <strong>
                Bag Total:
                <span class="text-accent">${{ total|floatformat:2}}</span>
            </strong>
        </h6>
        <h6>Delivery: <span class="text-accent">${{ delivery|floatformat:2 }}</span></h6>
        <h4 class="my-3">
            <strong>
                Grand Total:
                <span class="text-accent">${{grand_total|floatformat:2 }}</span>
            </strong>
        </h4>
        {% if free_delivery_delta > 0 %}
        <p class="mb-1 text-danger">
            You could get free delivery by spending just
            <strong class="text-accent">${{free_delivery_delta | floatformat:2}}</strong> more!
        </p>
        {% endif %}
        <div class="bag-actions">
            <a href="{% url 'supplies' %}" class="btn action-button-secondary">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            <a href="{% url 'checkout' %}" class="btn action-button mt-2 mt-lg-0">
                <span class="text-uppercase">Secure Checkout</span>
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
            </a>
        </div>
    </div>
</div>