{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %} | Profile {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid px-3 pt-5 px-md-5">
    <div class="row">
        <div class="col">
            <h1 class="mb-4 text-uppercase text-info">Profile</h1>
            <hr>
        </div>
    </div>
    <div class="row px-3 pb-3 p-md-5">
        <div class="col-12 col-lg-6 profile-update-form-container px-1 px-md-5">
            <p class="text-muted">Profile Information</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}

                <fieldset class="mb-2">
                    <legend class="fieldset-label small text-black  w-auto">Conatct Information</legend>
                    {{ user_profile_form.phone_number | as_crispy_field }}
                </fieldset>
                <div class="text-right">
                    <button type="submit" class="btn action-button text-uppercase">Update</button>
                </div>
                <hr/>
            </form>
            <form class="mt-3" action="{% url 'update_address' %}" method="POST">
                {% csrf_token %}
                <fieldset class="mb-2">
                    <legend class="fieldset-label small text-black w-auto">Delivery Information</legend>
                    {{ delivery_address_form.street_address1 | as_crispy_field }}
                    {{ delivery_address_form.street_address2 | as_crispy_field }}
                    {{ delivery_address_form.town_or_city | as_crispy_field }}
                    {{ delivery_address_form.postcode | as_crispy_field }}
                    {{ delivery_address_form.county | as_crispy_field }}
                    {{ delivery_address_form.country | as_crispy_field }}
                    <input type="hidden" name="type" value="1" />
                    <input type="hidden" name="address_id" value="{{delivery_address.id}}" />
                </fieldset>
                <div class="text-right">
                    <button type="submit" class="btn action-button text-uppercase">Update</button>
                </div>
                <hr/>
            </form>
            <form class="mt-3" action="{% url 'update_address' %}" method="POST">
                {% csrf_token %}
                <fieldset class="rounded mb-2">
                    <legend class="fieldset-label small text-black w-auto">Billing Information</legend>
                    {{ billing_address_form.street_address1 | as_crispy_field }}
                    {{ billing_address_form.street_address2 | as_crispy_field }}
                    {{ billing_address_form.town_or_city | as_crispy_field }}
                    {{ billing_address_form.postcode | as_crispy_field }}
                    {{ billing_address_form.county | as_crispy_field }}
                    {{ billing_address_form.country | as_crispy_field }}
                    <input type="hidden" name="type" value="0" />
                    <input type="hidden" name="address_id" value="{{billing_address.id}}" />
                </fieldset>
                <div class="text-right">
                    <button type="submit" class="btn action-button text-uppercase">Update</button>
                </div>
                <hr class="d-block d-md-none"/>
            </form>
        </div>
        <div class="col-12 col-lg-6 pt-5 pt-md-0">
            <p class="text-muted">Order History</p>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>OrderTotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>{{ order.created_on|date:'Y-m-d' }}</td>
                                <td class="w-25">
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                                <p class="text-black font-weight-bold">
                                                    <span class="ellipsis">{{ item.supply.name }}</span>
                                                    <br>
                                                    <span class="small mb-0 text-info"> Renting Date: {{ item.start_renting_date|date:'Y-m-d' }} </span>
                                                    <br>
                                                    <span class="small mb-0 text-info"> Renting for {{ item.renting_days }} Days</span>
                                                    <br>
                                                    <span class="small mb-0">{{ item.quantity }} for ${{ item.supply.price_per_day }} each per day</span>
                                                </p>
                                            </li>
                                            <hr/>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>${{ order.grand_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}