.bag-info-header {
  background-color: #f7f1e3;
}

.bag-actions .btn {
  width: 100% !important;
}

.update-link,
.remove-item {
  cursor: pointer;
}

/* large screen and up */
@media (min-width: 992px) {
  .bag-actions .btn {
    width: auto !important;
  }
}
