{% extends "base.html" %}

{% load i18n %}

{% block extra_title %} | Login Cancelled {% endblock %}

{% load static %}

{% block page_header %}
<div class="container-fluid header-container mt-5 mt-lg-2">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-12 py-5">
            <div class="accounts-container p-4">

                <h1 class="p-3">Login Cancelled</h1>

                {% url 'account_login' as login_url %}

                <p>You decided to cancel logging in to our site using one of your existing accounts. If this was a
                    mistake, please proceed to
                    <a href="{{login_url}}" class="btn btn-lg action-button">sign in</a>.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}