{% extends "base.html" %}

{% load static %}

{% block extra_title %} | Supplies {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'supplies/css/style.css' %}">
{% endblock %}

{% block page_header %}
<div class="container-fluid header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="d-none d-inline-block col-md-4"></div>
        <div class="col col-md-8 text-center px-2 text-md-left px-md-0">
            <h1 class="text-dark">
                <strong> Rent Supplies For Your Event Easly !!</strong>
            </h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="supply-container col-10 pb-4 offset-1">
            <div class="row mt-2 mb-2">
                <div class="col-12 col-md-3 filters pb-3 pl-0 pr-2">
                    <h3 class="text-dark pb-4">Filters</h3>
                    {% include 'includes/supplies-filter.html' %}
                </div>

                <div class="col-12 col-md-9 px-0 pl-md-3">
                    {% include 'includes/supplies-nav.html' %}
                    <div class="row">
                        {% for supply in supplies %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                <a href="{% url 'supply_detail' supply.id %}">
                                    <img class="card-img-top img-fluid" src="{{ supply.image_url }}"
                                        alt="Rent Event {{ supply.name }}">
                                </a>
                                <div class="card-body pb-0">
                                    <a href="{% url 'supply_detail' supply.id %}" class="text-dark">
                                        <p class="mb-0 ellipsis">{{ supply.name }}</p>
                                    </a>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">${{ supply.price_per_day }}
                                            </p>
                                            {% if supply.rating %}
                                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ supply.rating
                                                }} /
                                                5</small>
                                            {% else %}
                                            <small class="text-muted">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if not forloop.last %}
                        {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                        {% endif %}

                        {% endif %}
                        {% endfor %}
                        {% if not supplies %}
                        <div class="w-100 text-center"><strong>There are no Supplies matching your Queries...</strong>
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-12 text-center p-5">
                            {%if page_obj.has_previous %}
                            <a href="#" class="paginate-btn" data-page="{{page_obj.previous_page_number}}">
                                <i class="fa-solid fa-square-caret-left fa-xl text-primary"></i>
                            </a>
                            {% endif %}
                            <span class="text-wieght-bold mx-4">{{page_obj.number}}</span>

                            {%if page_obj.has_next %}
                            <a href="#" class="paginate-btn" data-page="{{page_obj.next_page_number}}">
                                <i class="fa-solid fa-square-caret-right fa-xl text-primary"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="top-button-container shadow-sm rounded-0">
    <a class="btn-top d-flex h-100 bg-accent">
        <i class="fas fa-arrow-up text-black mx-auto my-auto text-white"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btn-top').click(function (e) {
        window.scrollTo({
            top: 0,
            left: 0,
            behavior: "smooth",
        });
    });
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);
        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];
            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);
            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");
            window.location.replace(currentUrl);
        }
    })
</script>
<script type="text/javascript">
    $('.paginate-btn').click(function (e) {
        e.preventDefault();
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var page = selector.data('page');
        currentUrl.searchParams.set("page", page);

        var searchTerm = "{{search_term}}";
        if (searchTerm && searchTerm != "" && searchTerm != "None") {
            currentUrl.searchParams.set("q", searchTerm);
        }

        var category_slug = "{{category_slug}}";
        if (category_slug && category_slug != "" && category_slug != "None") {
            
            if(category_slug.split(',').length){
                 currentUrl.searchParams.set("categories", category_slug);
            } else {
                 currentUrl.searchParams.set("category", category_slug);
            }
        }

        var currentSorting = "{{current_sorting}}";
        if (currentSorting && currentSorting != "" && currentSorting != "None_None") {
            var sort = currentSorting.split("_")[0];
            var direction = currentSorting.split("_")[1];
            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);
        }
        window.location.replace(currentUrl);
    })
</script>
<script type="text/javascript">
     $('.sub-category').click(function (e) {
        const selector = $(this);
        var parentCategoryId = selector.attr('data-parent-id');
        var categoryId = selector.data('category-id');
        const subCheckboxes = $(`.sub-category-${parentCategoryId}`);
        const allChecked =  $(`.sub-category-${parentCategoryId}:checked`).length == $(`.sub-category-${parentCategoryId}`).length
        $(`#${parentCategoryId}`).prop("checked", allChecked);
    });

    $('.main-category').click(function (e) {
        const selector = $(this);
        var categoryId = selector.data('category-id');
        const subCheckboxes = $(`.sub-category-${categoryId}`);
        subCheckboxes.prop("checked", selector.prop("checked"));
    });
    
    $('.filter-btn').click(function (e) {
        var currentUrl = new URL(window.location);
        currentUrl.searchParams.delete("category");

        var checkedSubCategories = $(`.sub-category:checked`);
        var checkedMainCategories = $(`.main-category:checked`);
        var selectedCategories = [];
    
        $.each(checkedSubCategories, function (index, item) {
            selectedCategories.push( $(item).data('category-slug') );  
        });

        $.each(checkedMainCategories, function (index, item) {
            selectedCategories.push( $(item).data('category-slug') );  
        });

        if (selectedCategories.length) {
            currentUrl.searchParams.set("categories", selectedCategories.join(","));
        } else {
             currentUrl.searchParams.delete("categories");
        }
        window.location.replace(currentUrl);
    });

    $('.reset-btn').click(function (e) {
        var currentUrl = new URL(window.location);
        currentUrl.searchParams.delete("page");
        currentUrl.searchParams.delete("sort");
        currentUrl.searchParams.delete("direction");
        currentUrl.searchParams.delete("category");
        currentUrl.searchParams.delete("categories");
        currentUrl.searchParams.delete("q");
        window.location.replace(currentUrl);
    });
</script>
{% endblock %}